<app-navbar></app-navbar>
<router-outlet></router-outlet>

<section class="container">
  <div class="main">
    <h1>Desenvolvedor</h1>
    <h3>
      Front-End
    </h3>
  </div>
</section>

<section class="about">
  <div class="container">
    <h1>About me</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis alias odit nihil, inventore voluptates ea debitis dignissimos, dicta officiis eaque sint, non perferendis aliquid? Fugit, numquam. Fugit iste corrupti deleniti.
    </p>
  </div>
</section>
